<p id="notice"><%= notice %></p>

<p>
  <strong>Dtzid:</strong>
  <%= @plus_city_zone.dtzid %>
</p>

<p>
  <strong>City name:</strong>
  <%= @plus_city_zone.city_name %>
</p>

<%= link_to 'Edit', edit_plus_city_zone_path(@plus_city_zone) %> |
<%= link_to 'Back', plus_city_zones_path %>
