<p id="notice"><%= notice %></p>

<h1>Tarif Points</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbr</th>
      <th>Ibnr</th>
      <th>Status</th>
      <th>Network</th>
      <th>Regions</th>
      <th>Equality treatments</th>
      <th>eva_nr</th>
      <th>ds100</th>
      <th>dhid</th>
      <th>latitude</th>
      <th>longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarif_points.each do |tarif_point| %>
      <tr>
        <td><%= tarif_point.name %></td>
        <td><%= tarif_point.abbreviation %></td>
        <td><%= tarif_point.ibnr %></td>
        <td><%= tarif_point.status %></td>
        <td><%= tarif_point.network %></td>
        <td><%= tarif_point.regions %></td>
        <td><%= tarif_point.equality_treatments %></td>
        <td><%= tarif_point.eva_nr %></td>
        <td><%= tarif_point.ds100 %></td>
        <td><%= tarif_point.dhid %></td>
        <td><%= tarif_point.latitude %></td>
        <td><%= tarif_point.longitude %></td>
        <td><%= link_to 'Show', tarif_point %></td>
        <td><%= link_to 'Edit', edit_tarif_point_path(tarif_point) %></td>
        <td><%= link_to 'Destroy', tarif_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarif Point', new_tarif_point_path %>
