<p id="notice"><%= notice %></p>

<h1>Tarif Distances</h1>

<table>
  <thead>
    <tr>
      <th>From name</th>
      <th>From ibnr</th>
      <th>To name</th>
      <th>To ibnr</th>
      <th>Tarif kilometer</th>
      <th>Bus</th>
      <th>Around</th>
      <th>Exclusion way</th>
      <th>Region</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tarif_distances.each do |tarif_distance| %>
      <tr>
        <td><%= tarif_distance.from_name %></td>
        <td><%= tarif_distance.from_ibnr %></td>
        <td><%= tarif_distance.to_name %></td>
        <td><%= tarif_distance.to_ibnr %></td>
        <td><%= tarif_distance.tarif_kilometer %></td>
        <td><%= tarif_distance.bus %></td>
        <td><%= tarif_distance.around %></td>
        <td><%= tarif_distance.exclusion_way %></td>
        <td><%= tarif_distance.region %></td>
        <td><%= link_to 'Show', tarif_distance %></td>
        <td><%= link_to 'Edit', edit_tarif_distance_path(tarif_distance) %></td>
        <td><%= link_to 'Destroy', tarif_distance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tarif Distance', new_tarif_distance_path %>
